.thumbnail {
	img {
		width: 180px;
		height: 172px;
	}
}
header main {
	display: block;
}
.panel-body {
	img {
		width: 800px;
		height: 533px;
	}
}
.container {
	img {
		text-align: center;
	}
}
.flex {
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items: center;
	.flex-right {
		order: 0;
		flex-grow:1;
	}
	.flex-center {
		order: 1;
		img {
			display:block;
			margin-left: auto;
			margin-right: auto;
			width: auto;
			height: auto;
		}
		flex-grow:10;
	}
	.flex-left {
		order: 2;
		flex-grow:1;
	}
}
.panel-footer {
	text-align: center;
}
.panel-heading {
	a {
		color: white;
	}
}
.btn-toolbar {
	text-align: center;
}
.error {
	text-align: center;
}