<div class="row">
	<div class="col-xs-6 col-sm-4 col-md-3" ng-repeat="val in pages[nowPage]">
		<a href="#!/photo{{$index+nowPage*12}}" class="thumbnail">
			<img style="background: url({{val.img.L.href}}) no-repeat;background-position: center" />
		</a>
	</div>
</div>
<div class="btn-toolbar" role="toolbar" aria-label="...">
	<div class="btn-group" role="group" aria-label="...">
		<a ng-repeat="page in pages" class="btn btn-default" ng-href="#!/page{{$index+1}}">
			{{$index+1}}
		</a>
	</div>
</div>